@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   
    background-image: url(image/8.jpg);
    
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    background-size: cover;

}
#main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
#main #title{
    color: rgb(115, 129, 62);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
#title{
    color: rgb(244, 242, 248);
    font-weight:bold;
    text-decoration: none;
    font-size: 3em;  
    font-family: fantasy;
}
#main .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .navigation li{
    list-style: none;
    margin-left: 20px;
}
#main .navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: rgba(238, 219, 210, 0.938);
    border-radius: 20px;
}
#main .navigation li a:hover,
#main .navigation li a.active{
    background: rgb(34, 151, 24);
    color: rgb(160, 4, 4);
}
#tribute-link{
    
    padding: 50px;
    background: rgb(145, 94, 89);
    margin-top: 100px;
    
}
#tribute-link h1{
    color:rgb(99, 40, 6);
    margin-bottom:30px;
}

.link{
    position: relative;
    display: flex;
    color:aqua;
}
.link li{
    position: relative;
    list-style: none;
}
.link li a{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #1b1919;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.link li a:hover{
    color: rgb(136, 86, 86);
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                2px 2px 5px rgba(0, 0, 0, 0.2);
}
.intermidiate{
    margin-top: 200px;
    background-image: url(image/3.jpg);
     margin-left: 50px;
margin-right: 500px; 
border-radius: 20px;
width:1000px;
height:300px;
transition: 0.5;
}

.intermidiate:hover{
    color: rgb(246, 236, 248);
    transform: translateY(-30px);
    box-shadow: inset -2px -2px 2px rgba(117, 234, 255, 0.2),
                2px 2px 5px rgba(1, 247, 255, 0.979);
}
.intermidiate h2{
    text-align:center;
    text-decoration: rgba(247, 227, 190, 0.781);
}
.intermidiate h3{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

